* {
    outline: 1px dashed magenta;
}



/*---------------------Styletile--------------------*/

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0.5em, 0, 0.5em, 0;
    line-height: 1.3;
    margin: 0;
}

footer p {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 3em;
    text-align: center;
}

h2 {
    color: #FFCCC1;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
}

/*--bokse--*/

.boks {

    display: inline-block;
    width: 15vw;
    height: 15vw;
    border: 5px solid black;
    margin-bottom: 3px;
    text-align: center;
    line-height: 15vw;
    border-radius: 50px;
}

#boks1 {

    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#boks2 {

    background-color: #8C8C8C;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#boks3 {

    background-color: #D6D6D3;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#boks4 {

    background-color: #FFFFFF;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#boks5 {

    background-color: #FFCCC1;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size:
}

/*--------------------Generelt--------------------*/

header {
    background-color: #414142;
}

img {
    width: 100%;
    max-width: 200px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: ;
}

header img {
    max-width: 100%;
    margin: 0px;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    font-family: 'Slabo 27px', serif;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 25%)
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
}

.imagewrapper {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
}

footer {
    background-color: #414142;
    padding: 0.5em;
    text-align: center;
}

footer .column {
    align-self: center;
}

footer img {
    width: 100%;
    max-width: 150px;
}

.column_narrow {
    flex-basis: 80px;
    flex-grow: 1;
    background-color: #969696;
    padding: 1em;
}

.column_wide {
    flex-basis: 160px;
    flex-grow: 2;
    padding: 1em;
}

.column_wide h2 {
    margin-top: 0;
}

#smykker .sectionwrapper {
    flex-direction: row;
}

#forside {
    margin-left: 1em;
    margin-right: 1em;
}

#smykker a {
    font-family: 'Slabo 27px', serif;
    text-decoration: none;
    color: white;
    line-height: 2;
}

#ure a {
    font-family: 'Slabo 27px', serif;
    text-decoration: none;
    color: white;
    line-height: 2;
}

.column_wide img {
    margin-top: 1em;
    width: 100%;
    max-width: 100%;
}

#smykker a:hover {
    text-decoration: underline;
}

#ure a:hover {
    text-decoration: underline;
}

/*---------------------Media queries-------------------*/

@media screen and (max-width: 414px) {
    nav {
        flex-direction: column;
    }

    nav a {
        width: 80%;
    }

    header {
        background-color: #404040;
    }

    h1 {
        font-size: 2em;
    }

    footer .sectionwrapper {
        flex-wrap: wrap;
    }
}
